.project {
    padding-bottom: 66px;
  margin-top: 90px;
  background: linear-gradient(222deg, #05ada6 0%, #044c74 100%);
  .innerr {
    align-items: center;
    display: flex;
    justify-content: space-around;
    .text {
      max-width: 542px;
      .text__item{
        margin-top: 111px;
        display: flex;
max-width: 222px;
height: 12px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;
font-size: 10.831px;
font-family: DM Sans;
font-weight: 700;
line-height: 122%;
letter-spacing: 1.625px;
text-transform: uppercase;
opacity: 0.5;

      }
      .text__main{
        margin-top: 10px;
        display: flex;
max-width: 450px;
height: 58px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;
font-size: 43.324px;
font-family: DM Sans;
font-weight: 500;
line-height: 122%;
      }
      .text__text{
        margin-top: 18px;
        display: flex;
max-width: 542px;
height: 318px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;
font-size: 14.47px;
font-family: DM Sans;
line-height: 21.5px;
      }
      .text__label{
display: flex;
max-width: 545px;
height: 24px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;
font-size: 10.831px;
font-family: DM Sans;
font-weight: 700;
line-height: 122%;
letter-spacing: 1.625px;
text-transform: uppercase;
opacity: 0.5;
      }
      .text__inp{
        border: none;
 width: 391px;
height: 36px;
flex-shrink: 0;
background: #FFF;
      }
      .text__btn{color: #FFF;
        font-size: 12.636px;
        font-family: DM Sans;
        font-weight: 700;
        line-height: 148%;
        letter-spacing: 0.253px;
        text-transform: uppercase;

        margin-top: 26px;
        border: none;
        display: flex;
max-width: 94px;
height: 28px;
padding: 18.052px 45.129px;
justify-content: center;
align-items: center;
gap: 9.026px;
flex-shrink: 0;
border-radius: 7.221px;
background: #05ADA6;
      }
    }
  }
  .img {
    img {
      max-width: 85%;
      border-radius: 10.831px;
    }
  }
}
@media (min-width: 0) and (max-width: 1100px) {
  .img {
    .project__img {
    }
  }
}
@media (min-width: 0) and (max-width: 982px) {
.text__label{
  margin-top: 30px;
}
}
@media (min-width: 0) and (max-width: 890px) {
.text__label{
  margin-top: 60px;
}
}
@media (min-width: 0) and (max-width: 823px) {
  .project__img{
    margin-top: 30px;
  }
.innerr{
display: flex;
flex-direction: column;
}
}