.header {

height: 600px;
    background-image: url(../../img/bg.png);
    background-size: 100% calc(100% - 150px);
    background-repeat: no-repeat;

   
    .wrapper {
padding-top: 60px;
        align-items: center;
        display: block;
        display: flex;
        justify-content: space-around;
.inner{
    
    display: flex;
    justify-content: space-between;
}
        .center {
            .center__list {
                
                margin-left: -130px;
                color: #FFF;
                font-size: 16px;
                font-family: DM Sans;
                font-weight: 700;
                line-height: 100%;
               width:  400px;
                display: flex;
                list-style-type: none;
                justify-content: space-between;

            }

        }
    }
    .header__text{
        margin-top: 54px;
        color: #FFF;
text-align: center;
font-size: 55px;
font-family: DM Sans;
font-weight: 500;
    }
    .right{
        display: flex;
        justify-content: space-between;
        width: 200px;
        .login{
            display: block;
            display: flex;
width: 111px;
height: 51px;
padding: 20px 50px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 60px;
background: #FFF;
        }
        .sub{
            display: flex;
width: 128px;
height: 51px;
padding: 20px 50px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 60px;
background: #05ADA6;
margin-left: 26px;
        }
    }

}
.center__list__med{
    display: none;
}
@media (min-width: 0) and (max-width: 1120px) {
    .wrapper{
        margin-top: -50px;
        display: flex;
        
        justify-content: space-between;
    }
    .center{
      display: none;
    }
    .center__list__med{
flex-wrap: wrap     ;
        display: block;
        max-width:  400px;
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        margin-left: 60px;
        margin-top: 30px;
        li{
            color: #FFF;
font-size: 16px;
font-family: DM Sans;
font-weight: 700;
line-height: 100%;
        }
        
    }
    
}
@media (min-width: 0) and (max-width: 735px) {
.login{
    display: none;
}
}