.login {
    background-color: grey;
    height: 100vh;
    display: flex;
    align-items: center;

    .reg {
        border-radius: 20px;
        margin: 0 auto;
        width: 500px;
        height: 500px;

        .head {

            justify-content: center;
            display: flex;
            align-items: center;
            border-radius: 25px 25px 0 0;
            width: 100%;
            height: 15%;
            background-color: #15AFA2;
            color: #fff;
            font-size: 25px;


        }

        .main {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            height: 85%;
            background-color: #fff;
            border-radius: 0 0 25px 25px;
            .git {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
                width: 85%;
                border: 1px solid grey;
                height: 50px;
                border-radius: 10px;
                a{
                    font-size: 20px;
                    color: #000;
                }
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }

            }
            .div{
                width: 85%;
                height: 0;
                border: 1px solid #000;
            }
            h3{

            }
            input{
                border-radius: 15px;
                width: 85%;
                height: 50px;
                padding-left: 10px;
            }
            .but{
                display: flex;
                justify-content: space-between;
                a{
           margin-top: -10px;

                    color: #000;
                }
            }

        }
    }
}