

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1340px;
    margin: 0 auto;
}

body{
    flex-direction: row;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    text-decoration: dashed;
    color: #05ADA6;
}